body {
  background: url(http://thiagokimo.github.io/canvas-art/images/body-background.png) #eae6d1;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  width: 960px;
  margin: 0 auto;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
}

header {
  text-align: center;
}

h1 {
  font-size: 4em;
  margin-bottom: 0;
}

header p {
  font-weight: 300;
  font-size: 1.2em;
  margin: 1em 0;
}

section {
  height: 400px;
  margin: 2em 0;
  width: 960px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

footer {
  display: block;
  text-align: center;
}

canvas {
	box-shadow: 0px 0px 15px 1px #CCC;
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
  margin: 50px;
}

#info{
  background-image: url(http://thiagokimo.github.io/canvas-art/images/info.png);
  width: 160px;
  z-index: -1;
  height: 140px;
  position: absolute;
  top: 247px;
  right: 60px;
  background-repeat: no-repeat;
}
