body {
	background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAHElEQVQIHWP48+fP9+/f////zwCkgBwQC4ghAACODRqkCkEF0QAAAABJRU5ErkJggg==) repeat;
	overflow: hidden;
	margin: 0px;
}

/*Canvas element - initially hidden*/
canvas {
	box-shadow: 0px 0px 15px 1px #CCC;
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
}
